{{ $scss := resources.Get "scss/style.scss" }}
{{ $css := $scss | toCSS | resources.PostCSS | minify | fingerprint }}

<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}"
  dir="{{ .Site.Params.languageDirection }}">

  <head>
    <meta charset="utf-8">
    <title>{{ .Site.Title }}{{ block "title" . }}{{ end }}</title>
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href='{{ $css.Permalink }}'>

  </head>

  <body>
    {{ block "main" . }}{{ end }}

    <script src='{{ ((resources.Get "js/jquery.min.js") | fingerprint).Permalink }}' defer></script>
    <script src='{{ ((resources.Get "js/bootstrap.bundle.min.js") | fingerprint).Permalink }}' defer></script>
    <script src='{{ ((resources.Get "js/contact-form/index.js") | fingerprint).Permalink }}' defer></script>
  </body>

</html>
