<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}"
  dir="{{ .Site.Params.languageDirection }}">

  <head>
    <meta charset="utf-8">
    <title>{{ .Site.Title }}</title>
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ (index .Site.Data.assets.manifest "main.css") | relURL }}" />
  </head>

  <body>
    {{ block "main" . }}{{ end }}

    <script type="application/javascript" src="{{ (index .Site.Data.assets.manifest "main.js") | relURL }}"></script>
  </body>

</html>
