{{ define "title" }} - {{ .Title }}{{ end }}
{{ define "main" }}
<div class="container px-0">
  <nav class="navbar mainNavbar">
    <a class="navbar-brand" href='{{ .URL }}'>
      <img alt="ICEWEB"
        src='{{ "logo-x48.png" | relURL }}'
        srcset='{{ "logo-x48.png" | relURL }} 1x,
                {{ "logo-x96.png" | relURL }} 2x' />
    </a>
    <div class="navbar-brand mr-0">
      <img alt="G Suite"
        src='{{ "gsuite-x48.png" | relURL }}'
        srcset='{{ "gsuite-x48.png" | relURL }} 1x,
                {{ "gsuite-x96.png" | relURL }} 2x' />
    </div>
  </nav>
</div>

<section class="container-fluid hero py-5 px-0 bg-primary text-white">
  <div class="container">
    <header>
      <h1 class="display-3">
        <a class="text-white" target="_blank"
          href="https://cloud.withgoogle.com/partners/detail/?id=CIGAgICAgID1%2FgE%3D&language=en">
          Google Cloud partner based in Riyadh
          <sup><i class="fas fa-external-link-alt hero__icon"></i></sup>
        </a>
      </h1>
    </header>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <h2 class="text-muted">We migrated many companies to G Suite</h2>
    <ul class="list-unstyled mb-0 customerList">
    {{ range .Params.customers }}
      <li class="customerList__item customerList__item--{{ .id }}">
      {{ $logoGlob := print "**logo-" .id "*" }}
      {{ $logo := $.Resources.GetMatch $logoGlob }}
        <img src='{{ $logo.RelPermalink }}'
          alt="{{ .name }}" />
      </li>
    {{ end }}
    </ul>
  </di682143v>
</section>

<section class="py-5 bg-light">
  <div class="container">
    <h2 class="h1 font-weight-bold">Benefits</h2>
    <ul class="list-unstyled row justify-content-between">
      <li class="col-md-6">
        <h3>Data Migration</h3>
        <p>We provide complete data migration from your existing system to G Suite without any downtime. We migrate all the emails, calendar events and contacts for your entire organization.</p>
      </li>

      <li class="col-md-6">
        <h3>On-site User Training</h3>
        <p>We get your users up and running with G Suite with on-site training that covers the essentials plus tips & tricks for various G Suite apps including Gmail, Calendar and Hangouts. Additionally, we train your users how to work and collaborate using Google Drive.</p>
      </li>

      <li class="col-md-6">
        <h3>G Suite Admin Training</h3>
        <p>Your IT personnel get a comprehensive overview of all G Suite features and the administrative tasks available to them across the entire G Suite which include user management, mobile device management, security and many more. Furthermore, we can provide training for using Google Apps Script which provides powerful programmatic access to most of G Suite's admin tasks.</p>
      </li>

      <li class="col-md-6">
        <h3>Active DNS Monitoring</h3>
        <p>We keep an eye on you domain names and their DNS configuration and alert you immediately if any change that might affect emails in your organization. We also alert you when your domain is about to expire.</p>
      </li>
    </ul>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <h2 class="h1 font-weight-bold">Pricing</h2>
    <p class="lead">
      A <a href="https://gsuite.google.com/compare-editions/">detailed comparison</a> between G Suite editions is available at the <a href="https://gsuite.google.com/compare-editions/">official G Suite website</a>. If you have any questions about the different editions, contact us right away.
    </p>

    <p class="text-info">Shown prices are not inclusive of VAT</p>

    <!-- Basic ---------------------------------------------------------------->
    <div class="row mb-3 no-gutters">
      <div class="col-md-4 col-lg">
        <div class="pricingTable card mb-4 box-shadow">
          <div class="card-header">
            <h3 class="my-0 font-weight-normal">
              {{- .Site.Data.gsuite.basic.name -}}
            </h3>
          </div>

          <div class="card-body">
            <p class="mt-3 mb-4">
              {{- .Site.Data.gsuite.basic.description | markdownify -}}
            </p>
            <div class="h1 card-title pricing-card-title">
              {{- .Site.Data.gsuite.basic.price }} SAR<br/>
              <small class="text-muted">SAR / user / year</small>
            </div>
            <p>Paid yearly</p>
          </div>

          <div class="list-group list-group-flush">
          {{ range .Site.Data.gsuite.basic.features }}
          <a class="list-group-item list-group-item-action"
            href="{{ .anchor }}">
            {{- with $.Resources.GetMatch (printf "%s" .icon) -}}
            <img class="pricingTable__icon"
              src='{{ (.Resize "x32").RelPermalink }}'
              srcset='{{ (.Resize "x32").RelPermalink }} 1x,
                      {{ (.Resize "x32").RelPermalink }} 2x' />
            {{ end }}
            <div class="pricingTable__listText">{{- .description -}}</div>
          </a>
          {{ end }}
          </div>

          <div class="card-footer">
            {{ .Site.Data.gsuite.basic.moreDetails | markdownify }}
          </div>
        </div>

        <p class="px-4 text-muted">* It is possible to
          <a href="https://support.google.com/a/answer/177064?hl=en">
            increase the storage of individual users</a>
          as needed. for more details, visit the
          <a href="https://support.google.com/a/answer/177064?hl=en">
            Google Drive storage page.</a></p>
      </div>

      <!-- Business ----------------------------------------------------------->
      <div class="col-md-4 col-lg">
        <div class="pricingTable card mb-4 box-shadow">
          <div class="card-header">
            <h3 class="my-0 font-weight-normal">
              {{- .Site.Data.gsuite.business.name -}}
            </h3>
          </div>

          <div class="card-body">
            <p class="mt-3 mb-4">
              {{- .Site.Data.gsuite.business.description | markdownify -}}
            </p>
            <div class="h1 card-title pricing-card-title">
              {{- .Site.Data.gsuite.business.price }} SAR<br/>
              <small class="text-muted">SAR / user / year</small>
            </div>
            <p>Paid yearly</p>
          </div>

          <div class="list-group list-group-flush">
          {{ range .Site.Data.gsuite.business.features }}
            <a class="list-group-item list-group-item-action"
              href="{{ .anchor }}">
              {{- with $.Resources.GetMatch (printf "%s" .icon) -}}
              <img class="pricingTable__icon"
                src='{{ (.Resize "x32").RelPermalink }}'
                srcset='{{ (.Resize "x32").RelPermalink }} 1x,
                        {{ (.Resize "x32").RelPermalink }} 2x' />
              {{ end }}
              <div class="pricingTable__listText">{{- .description -}}</div>
            </a>
          {{ end }}
          </div>

          <div class="card-footer">
            {{ .Site.Data.gsuite.business.moreDetails | markdownify }}
          </div>
        </div>
      </div>

      <!-- Enterprise --------------------------------------------------------->
      <div class="col-md-4 col-lg">
        <div class="pricingTable card mb-4 box-shadow">
          <div class="card-header">
            <h3 class="my-0 font-weight-normal">
              {{- .Site.Data.gsuite.enterprise.name -}}
            </h3>
          </div>

          <div class="card-body">
            <p class="mt-3 mb-4">
              {{- .Site.Data.gsuite.enterprise.description | markdownify -}}
            </p>
            <div class="h1 card-title pricing-card-title">
              {{- .Site.Data.gsuite.enterprise.price }} SAR<br/>
              <small class="text-muted">SAR / user / year</small>
            </div>
            <p>Paid yearly</p>
          </div>

          <div class="list-group list-group-flush">
          {{ range .Site.Data.gsuite.enterprise.features }}
          <a class="list-group-item list-group-item-action"
            href="{{ .anchor }}">
            {{- with $.Resources.GetMatch (printf "%s" .icon) -}}
            <img class="pricingTable__icon"
              src='{{ (.Resize "x32").RelPermalink }}'
              srcset='{{ (.Resize "x32").RelPermalink }} 1x,
                      {{ (.Resize "x32").RelPermalink }} 2x' />
            {{ end }}
            <div class="pricingTable__listText">{{- .description -}}</div>
          </a>
          {{ end }}
          </div>

          <div class="card-footer">
            {{ .Site.Data.gsuite.enterprise.moreDetails | markdownify }}
          </div>
        </div>
      </div>

      <div class="w-100"></div>
    </div>
  </div>
</section>

<section class="py-5 bg-accent-dark contactForm">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-md col-xl-5 text-light align-self-start order-md-12">
        <h2 class="h1 font-weight-bold">Contact Us</h2>
        <p class="lead">
          Through our email, <a href="mailto:gsuite@iceweb.co">gsuite@iceweb.co</a> or, by using our contact form.
        </p>
      </div>

      <div class="col-md col-xl-5">
        <div class="contactForm__container bg-light py-4 px-3 p-md-4">
          <!-- Works through AWS Lambda -->
          <form id="contactForm" class="contactForm__form"
            action="https://mltm270xub.execute-api.eu-west-1.amazonaws.com/api/"
            method="post" novalidate data-submitting="false">

            <noscript class="d-block p-1 bg-danger text-white">
              This form requires JavaScript to work. Please contact us by email.
            </noscript>

            <div class="form-group">
              <label for="contact-form-name">Name</label>
              <input id="contact-form-name" class="form-control"
                name="name" dir="auto" type="text">
            </div>

            <div class="form-group">
              <label for="contact-form-email">Email</label>
              <input id="contact-form-email" class="form-control"
                name="email" dir="auto" type="text"
                required
                data-feedback="Please enter your email">
              <div class="invalid-feedback">
                Please enter a valid email address
              </div>
            </div>

            <div class="form-group">
              <label for="contact-form-message">Message</label>
              <textarea id="contact-form-message" class="form-control"
                rows="3" name="message" dir="auto"
                required
                data-feedback="Please enter your message"></textarea>
              <div class="invalid-feedback">
                Please enter your message
              </div>
            </div>

            <div style="position: absolute; left: -5000px;"
              aria-hidden="true">
              <input name="leave-empty" tabindex="-1" value="" type="text">
            </div>

            <button class="btn btn-primary btn-block" type="submit"
              disabled>
              Send
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer py-5 bg-dark text-light">
  <div class="footer__bg container">
    <div class="footer__content">
      <h2 class="h1 font-weight-bold">Legal</h2>
      <address>
        International Competitiveness Est. for Technology<br/>
        Riyadh 12812, Saudi Arabia<br/>
        Company no: 1010318422<br/>
        VAT no: 300442113700003<br/>
      </address>

      <ul class="list-unstyled">
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>
  </div>
</footer>
{{ end }}
