@font-face{
    font-family: 'Zilla Slab';
    src: url('https://code.cdn.mozilla.net/fonts/woff/ZillaSlab-Regular.woff');
    src: url('https://code.cdn.mozilla.net/fonts/woff2/ZillaSlab-Regular.woff2') format('woff2'),
         url('https://code.cdn.mozilla.net/fonts/woff/ZillaSlab-Regular.woff') format('woff'),
         url('https://code.cdn.mozilla.net/fonts/otf/ZillaSlab(-Regular).otf') format('opentype'),
         url('https://code.cdn.mozilla.net/fonts/ttf/ZillaSlab-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Zilla Slab';
    src: url('https://code.cdn.mozilla.net/fonts/woff/ZillaSlab-Bold.woff');
    src: url('https://code.cdn.mozilla.net/fonts/woff2/ZillaSlab-Bold.woff2') format('woff2'),
         url('https://code.cdn.mozilla.net/fonts/woff/ZillaSlab-Bold.woff') format('woff'),
         url('https://code.cdn.mozilla.net/fonts/otf/ZillaSlab(-Bold).otf') format('opentype'),
         url('https://code.cdn.mozilla.net/fonts/ttf/ZillaSlab-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
